[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-bootstrap4 = "*"
Django = "*"
gunicorn = "*"
beautifulsoup4 = "*"
asgiref = "*"
pytz = "*"
soupsieve = "*"
sqlparse = "*"
psycopg2 = "*"
whitenoise = "*"

[requires]
python_version = "3.11"
