{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="auth-bg">
    <span class="r"></span>
    <span class="r s"></span>
    <span class="r s"></span>
    <span class="r"></span>
</div>
    <div class="center-vertical" id="login">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <form class="card card-body" method="post">
            <h4>{% trans 'Create an account' %}</h4>

                {% csrf_token %}
                {% bootstrap_form form %}

            <button class="btn btn-success">{% trans 'Create' %}</button>
        </form>
    </div>

{% endblock %}
