@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	padding-top: 70px;
	background-color: #e0e0e0;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #e0e0e0;
	background-color: #a96fff;
}
::-moz-selection {
	color: #e0e0e0;
	background-color: #a96fff;
}

@media screen and (max-width: 900px) {
    .card { margin-top: 200px; }
}


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #a96fff !important;
}
.nav-item.active .nav-link{
	color: #a96fff !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #a96fff;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #e0e0e0 !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
h1 span{
	display: inline-block;
    transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}
body.hero-anime h1 span:nth-child(1){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(2){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(5){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(6){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
	opacity: 0;
	transform: translateY(-40px);
}
body.hero-anime h1 span:nth-child(8){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(9){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
	opacity: 0;
	transform: translateY(-20px);
}
h1 span:nth-child(1){
    transition-delay: 1000ms;
}
h1 span:nth-child(2){
    transition-delay: 700ms;
}
h1 span:nth-child(3){
    transition-delay: 900ms;
}
h1 span:nth-child(4){
    transition-delay: 800ms;
}
h1 span:nth-child(5){
    transition-delay: 1000ms;
}
h1 span:nth-child(6){
    transition-delay: 700ms;
}
h1 span:nth-child(7){
    transition-delay: 900ms;
}
h1 span:nth-child(8){
    transition-delay: 800ms;
}
h1 span:nth-child(9){
    transition-delay: 600ms;
}
h1 span:nth-child(10){
    transition-delay: 700ms;
}
body.hero-anime h1 span:nth-child(11){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
	opacity: 0;
	transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
	opacity: 0;
	transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
	opacity: 0;
	transform: translateY(50px);
}
h1 span:nth-child(11){
    transition-delay: 1300ms;
}
h1 span:nth-child(12){
    transition-delay: 1500ms;
}
h1 span:nth-child(13){
    transition-delay: 1400ms;
}
h1 span:nth-child(14){
    transition-delay: 1200ms;
}
h1 span:nth-child(15){
    transition-delay: 1450ms;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
#switch {
	width: 60px;
	height: 8px;
	border: 2px solid #a96fff;
	border-radius: 27px;
	background: #000;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
body.hero-anime #switch{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #000;
}
.switched {
	border-color: #000 !important;
	background: #a96fff !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #e0e0e0;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #e0e0e0;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #e0e0e0;
	background-color: #a96fff;
}

body.dark{
	color: #e0e0e0;
	background-color: #212121;
}
body.dark .navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
	color: #e0e0e0;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #e0e0e0;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #212121 !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #e0e0e0 !important;
}
body.dark .nav-item.active .nav-link{
	color: #a96fff !important;
}
body.dark .dropdown-menu {
	color: #e0e0e0;
	background-color: #212121;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #e0e0e0;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #e0e0e0;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #e0e0e0;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #212121;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #212121;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #e0e0e0;
	}
	body.dark .dropdown-toggle::after {
		background-color: #e0e0e0;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}

.card-body {
    max-width: max-content;
	color: #212121;
	border-radius: 33px;
	background: #e0e0e0;
	box-shadow:  14px 14px 23px #a4a4a4,
				-14px -14px 23px #ffffff;
}

body.dark .card-body {
    max-width: max-content;
	color: #e0e0e0;
	border-radius: 33px;
	background: #212121;
	box-shadow:  14px 14px 23px #181818,
				 -14px -14px 23px #2a2a2a;
}





h1{
	font-size:50px;
}
h4{
	font-size:30px;
}













[id="dark-light"]:checked,
[id="dark-light"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #2e2e2e;
  background-image: url("data:image/svg+xml, %3Csvg%20version%3D%221.0%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20width%3D%22512.000000pt%22%20height%3D%22512.000000pt%22%20viewBox%3D%220%200%20512.000000%20512.000000%22%0A%20preserveAspectRatio%3D%22xMidYMid%20meet%22%3E%0A%0A%3Cg%20transform%3D%22translate(0.000000%2C512.000000)%20scale(0.100000%2C-0.100000)%22%0Afill%3D%22%23fff%22%20stroke%3D%22none%22%3E%0A%3Cpath%20d%3D%22M1810%205071%20c-381%20-125%20-719%20-327%20-1006%20-604%20-232%20-223%20-388%20-434%0A-526%20-710%20-501%20-1007%20-310%20-2193%20483%20-2988%20502%20-504%201199%20-781%201899%20-756%20548%0A20%201015%20179%201455%20496%20472%20339%20815%20837%20975%201415%2035%20128%2036%20147%2011%20203%20-26%2057%0A-84%2087%20-156%2081%20-44%20-4%20-64%20-13%20-119%20-54%20-158%20-116%20-259%20-179%20-381%20-239%20-283%0A-138%20-527%20-195%20-839%20-195%20-515%200%20-993%20197%20-1356%20559%20-367%20367%20-565%20841%20-564%0A1356%201%20443%20131%20839%20380%201158%2063%2081%2081%20134%2065%20189%20-23%2076%20-93%20129%20-168%20127%20-21%0A0%20-90%20-18%20-153%20-38z%20m-284%20-573%20c-78%20-187%20-133%20-397%20-156%20-598%20-14%20-123%20-14%0A-410%200%20-525%2094%20-767%20564%20-1432%201245%20-1764%20314%20-154%20585%20-219%20940%20-228%20356%20-9%0A626%2042%20964%20184%2057%2024%20106%2041%20109%2039%208%20-8%20-120%20-213%20-199%20-319%20-440%20-591%20-1099%0A-927%20-1819%20-927%20-505%200%20-948%20147%20-1354%20448%20-275%20205%20-510%20490%20-669%20810%20-159%0A321%20-229%20624%20-229%20987%201%20315%2045%20554%20154%20830%20163%20413%20462%20784%20833%201032%2071%2048%0A212%20132%20222%20133%201%200%20-18%20-46%20-41%20-102z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #f8fb48;
  background-image: url("data:image/svg+xml, %3Csvg%20version%3D%221.0%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20width%3D%22512.000000pt%22%20height%3D%22512.000000pt%22%20viewBox%3D%220%200%20512.000000%20512.000000%22%0A%20preserveAspectRatio%3D%22xMidYMid%20meet%22%3E%0A%0A%3Cg%20transform%3D%22translate(0.000000%2C512.000000)%20scale(0.100000%2C-0.100000)%22%0Afill%3D%22%23000000%22%20stroke%3D%22none%22%3E%0A%3Cpath%20d%3D%22M2495%205106%20c-39%20-18%20-70%20-48%20-92%20-89%20-16%20-29%20-18%20-65%20-18%20-339%20l0%0A-306%2030%20-43%20c37%20-52%2086%20-79%20145%20-79%2059%200%20108%2027%20145%2079%20l30%2043%200%20306%20c0%20302%200%0A308%20-23%20347%20-44%2078%20-145%20115%20-217%2081z%22%2F%3E%0A%3Cpath%20d%3D%22M792%204399%20c-95%20-47%20-123%20-156%20-64%20-251%2011%20-18%20110%20-121%20219%20-229%20147%0A-145%20208%20-199%20236%20-208%20136%20-45%20267%2092%20217%20226%20-16%2041%20-416%20441%20-465%20464%20-52%0A24%20-90%2024%20-143%20-2z%22%2F%3E%0A%3Cpath%20d%3D%22M4185%204401%20c-49%20-23%20-449%20-424%20-465%20-464%20-24%20-65%20-5%20-141%2046%20-189%2050%0A-47%2096%20-57%20169%20-37%2031%209%2079%2050%20238%20208%20109%20108%20210%20215%20224%20238%2085%20144%20-64%0A316%20-212%20244z%22%2F%3E%0A%3Cpath%20d%3D%22M2440%203840%20c-611%20-55%20-1102%20-551%20-1160%20-1172%20-41%20-453%20183%20-918%20567%0A-1174%20543%20-361%201262%20-265%201679%20224%20186%20218%20288%20457%20313%20734%2065%20699%20-462%201322%0A-1174%201388%20-60%205%20-117%209%20-125%209%20-8%20-1%20-53%20-5%20-100%20-9z%20m383%20-384%20c316%20-95%20536%0A-314%20634%20-633%2025%20-81%2027%20-101%2027%20-263%200%20-162%20-2%20-182%20-27%20-263%20-51%20-166%20-134%0A-304%20-248%20-413%20-110%20-104%20-230%20-173%20-386%20-221%20-81%20-25%20-101%20-27%20-263%20-27%20-162%0A0%20-182%202%20-263%2027%20-319%2098%20-536%20315%20-634%20634%20-25%2081%20-27%20101%20-27%20263%200%20162%202%0A182%2027%20263%20106%20345%20353%20572%20708%20652%2045%2010%20108%2014%20214%2011%20127%20-3%20164%20-8%20238%0A-30z%22%2F%3E%0A%3Cpath%20d%3D%22M144%202731%20c-17%20-4%20-44%20-16%20-60%20-25%20-112%20-66%20-104%20-244%2013%20-302%2035%0A-17%2063%20-19%20345%20-19%20l306%200%2043%2030%20c52%2037%2079%2086%2079%20145%200%2059%20-27%20108%20-79%20145%0Al-43%2030%20-286%202%20c-158%201%20-301%20-2%20-318%20-6z%22%2F%3E%0A%3Cpath%20d%3D%22M4383%202731%20c-77%20-19%20-133%20-92%20-133%20-173%200%20-57%2027%20-106%2079%20-143%20l43%0A-30%20306%200%20c302%200%20308%200%20347%2023%2061%2035%2090%2084%2090%20152%200%2068%20-29%20117%20-90%20152%20-39%0A22%20-47%2023%20-325%2025%20-157%201%20-300%20-2%20-317%20-6z%22%2F%3E%0A%3Cpath%20d%3D%22M1181%201408%20c-42%20-12%20-419%20-379%20-458%20-445%20-62%20-106%20-1%20-240%20120%20-260%0A73%20-12%2099%207%20326%20231%20117%20116%20219%20225%20227%20243%2027%2063%2014%20135%20-34%20187%20-49%2052%0A-107%2066%20-181%2044z%22%2F%3E%0A%3Cpath%20d%3D%22M3800%201398%20c-77%20-39%20-114%20-121%20-90%20-201%2010%20-34%2050%20-81%20218%20-251%20254%0A-256%20289%20-276%20392%20-224%2077%2039%20114%20121%2090%20201%20-10%2034%20-50%2081%20-218%20251%20-254%20256%0A-289%20276%20-392%20224z%22%2F%3E%0A%3Cpath%20d%3D%22M2480%20851%20c-19%20-10%20-48%20-37%20-65%20-60%20l-30%20-43%200%20-306%20c0%20-302%200%20-308%0A23%20-347%2035%20-61%2084%20-90%20152%20-90%2068%200%20117%2029%20152%2090%2023%2039%2023%2045%2023%20347%20l0%20306%0A-30%2043%20c-37%2052%20-86%2079%20-145%2079%20-25%200%20-61%20-8%20-80%20-19z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}


.btn{
	background-color: #a96fff;
	color: #000000;
	min-width: fit-content;
	min-height: fit-content;
}

body.dark .btn{
	background-color: #a96fff;
	color: #ffffff;
	min-width: fit-content;
	min-height: fit-content;
}