{% load static %} {% load bootstrap4 %} {% load i18n %} {% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="An example of Django project with basic user functionality.">

	<link rel="icon" href="{% static 'img/favicon.png' %}">
	<title>Login</title>


	<link href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body class="hero-anime">	

	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								{% if request.user.is_authenticated %}
								
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
									<a class="nav-link" href="{% url 'index' %}">Home</a>
								</li>

								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="{% url 'accounts:change_email' %}">{% trans 'Change email' %}</a>
										<a class="dropdown-item" href="{% url 'accounts:change_profile' %}">{% trans 'Change profile ' %}</a>
										<a class="dropdown-item" href="{% url 'accounts:change_password' %}">{% trans 'Change password' %}</a>
										<a class="dropdown-item" href="{% url 'accounts:log_out' %}">{% trans 'Log out' %}</a>
									</div>
								</li>

								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="http://atlus.vipulpetkar.ml/">Project Atlus</a>
										<a class="dropdown-item" href="http://boomerang.vipulpetkar.ml/">Project Boomerang</a>
										<a class="dropdown-item" href="https://cataract.azurewebsites.net/">Project Caratact</a>
										<a class="dropdown-item" href="https://github.com/dragonblood/Eridium">Project Eridium</a>
										<a class="dropdown-item" href="http://vipulpetkar.ml/F/">Project F</a>
									</div>
								</li>
								{% else %}
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{% url 'accounts:sign_up' %}">{% trans 'Create an account' %}</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
								</li>
								{% endif %}
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link font-weight-bold" href="http://vipulpetkar.ml">About Me</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="{% url 'change_language' %}">{% trans 'Change language' %}</a>
								</li>
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>
	
	<div class="section full-height">
		<div class="absolute-center">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							{% bootstrap_messages %} {% block content %} {% endblock %}
						</div>	
					</div>		
				</div>		
			</div>

		</div>
	</div>
	<input class="dark-light" type="checkbox" id="dark-light" name="dark-light"/>
	<label for="dark-light"></label>

	<div class="light-back"></div> 
<!-- partial -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
